   <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Email</th>
        <th>Counsellor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{activeStudent.name}}</td>
        <td>{{activeStudent.email}}</td>
        <td *ngIf="flag; else elseBlock">
          {{activeStudent.counsellor.name}}
        </td>
        <ng-template #elseBlock>
          <td>
          <form #form="ngForm">
            <div class="form-group">
              <select class="form-control" name="name" ngModel>
                <option *ngFor="let name of counsellorName">{{name}}</option>
              </select>
            </div>
            <button class="btn btn-primary btn-block" (click)="updateCounsellor(form)">Save</button>
          </form>  
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
