
<div class="col-md-10 m-5 p-5 mx-auto jumbotron">
  <div class="row">
    <div class="col-md-5 left">
      <ul  style="list-style-type:none;display: flex;">
        <li (click)="navigateToProfile()">Profile</li>
        <li (click)="navigateToLeaveApp()" [class.active]="activeLink">Leave Application</li>
      </ul>
    </div>
    <div class="col-md-5 float-right">
      <div class="row">
        <div class="col-md-3 mx-auto user float-right">
            <span class="fa fa-user fa-5x"></span>
        </div>
        <div>
          <span class="font-weight-bold text-capitalize text-justify">Name:&nbsp;{{activeStudent.name}}</span><br>
          <span class="font-weight-bold text-justify">Role:&nbsp;{{activeStudent.role}}</span>
        </div>
      </div>  
    </div>
  </div>  
</div>
<div class="col-md-10 mx-auto">
    <router-outlet></router-outlet>
 </div> 
